<html>
  <head>
    <title>This is a title</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <span> Login</span>
    <form action="/user-login/" method="post" id="myForm">
      <input id="email" type="text" name="email" placeholder="First Name">
      <input id="pass" type="text" name="password" placeholder="Last Name">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
